<div>
    <h4>What is this?</h4>
    <p>
        The Star Wars API, or "swapi" (Swah-pee) is the world's 
        first quantified and programmatically-accessible data source 
        for all the data from the Star Wars canon universe!
    </p>
    <p>
        We've taken all the rich contextual stuff from the universe and 
        formatted into something easier to consume with software. 
        Then we went and stuck an API on the front so you can access it all!
    </p>

    <h4>How can I use it?</h4>
    <p>
        All the data is accessible through our HTTP web API. 
        Consult our documentation if you'd like to get started.
    </p>
    <p>
        Helper libraries for popular programming languages are also 
        provided so you can consume swapi in your favourite programming 
        language, in a style that suits you.
    </p>

    <h4>How can I support this?</h4>
    <p>
        With small donations we can keep swapi running for free, 
        please consider throwing us some beer money to say thank you. 
        With every $10 we can keep the site up for another month!
    </p>
    <p>
        This project is open source and you can contribute on BitBucket.
    </p>
</div>