<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    ReImagine: a New Starwars Universe
  </h1>
  
</div>

<section>
  <app-nav-bar></app-nav-bar>
</section>
<section>
  <router-outlet></router-outlet>
</section>
