<nav>
    <a routerLink="" routerLinkActive="swapi-home">Home</a> | 
    <a routerLink="docs" routerLinkActive="swapi-docs">Documentation</a> | 
    <a routerLink="search" routerLinkActive="swapi-search">Search</a><br/>
    <img width=720 alt="Starwars Logo" src="https://i.imgur.com/sFnCpS1.jpg">
</nav>