<label>Category: </label>
<select name="category" (ngModelChange)="queued=false;" [formControl]="option">
        <option *ngFor='let item of options' [ngValue]="item">{{item}}</option>
</select>
<br/>
<label> ID: </label>
<select name="idSelect" (ngModelChange)="queued=false;" [formControl]="number">
        <option *ngFor='let item of numbers' [ngValue]="item">{{item}}</option>
</select>
<br/>
<button (click)="query()">Search</button>

<div *ngIf="queued && item!=null && option.value=='People'">
        <p>Name: {{item.name}}</p>
        <p>Height: {{item.height}}</p>
        <p>Mass: {{item.mass}}</p>
        <p>Hair Color: {{item.hair_color}}</p>
        <p>Skin Color: {{item.skin_color}}</p>
</div>

<div *ngIf="queued && item!=null && option.value=='Planet'">
        <p>Name: {{item.name}}</p>
        <p>Rotation Period: {{item.rotation_period}}</p>
        <p>Orbital Period: {{item.orbital_period}}</p>
        <p>Diameter: {{item.diameter}}</p>
        <p>Climate: {{item.climate}}</p>
</div>

<div *ngIf="queued && item!=null && option.value=='Species'">
        <p>Name: {{item.name}}</p>
        <p>Classification: {{item.classification}}</p>
        <p>Designation: {{item.designation}}</p>
</div>

<div *ngIf="queued && item!=null && option.value=='Vehicle'">
        <p>Name: {{item.name}}</p>
        <p>Model: {{item.model}}</p>
        <p>Manufacturer: {{item.manufacturer}}</p>
        <p>Cost In Credits: {{item.cost_in_credits}}</p>
        <p>Length: {{item.length}}</p>
</div>

<div *ngIf="queued && item!=null && option.value=='Starship'">
        <p>Name: {{item.name}}</p>
        <p>Rotation Period: {{item.model}}</p>
        <p>Manufacturer: {{item.manufacturer}}</p>
        <p>Cost In Credits: {{item.cost_in_credits}}</p>
        <p>Length: {{item.length}}</p>
</div>